@import "grid_settings"

$default-width-col: 100%/$columns
.container
  max-width: $container-max-width
  margin: 0 auto
  position: relative
.flex-row
  display: flex
  justify-content: flex-start
.wrap
  flex-wrap: wrap
.align-
  &top
      align-items: flex-start
  &bottom
      align-items: flex-end
  &center
      align-items: center
  &stretch
      align-items: stretch

.flex-row-stick
  display: flex
  width: calc(100% + #{$margin-l-r}*2)
  margin-left: -#{$margin-l-r}
  &.wrap
    flex-wrap: wrap

.justify
  &-start
    justify-content: flex-start
  &-center
    justify-content: center
  &-end
    justify-content: flex-end

.box
    flex-grow: 1

=col($n)
  width:  calc(#{$default-width-col*$n} - #{$margin-l-r * 2})
=absolute-col($x)
  width: calc( #{$container-max-width}/(#{$columns}/#{$x}))
=colSlick($x)
  width:  calc( (#{$big-width-row}/ #{$columns} * #{$x}) - #{$margin-l-r * 2} )

// Compiler
[class*="col"],
[class*="absolute-col"],
.box 
  margin: $margin-t-b $margin-l-r
  padding: $padding-t-b $padding-l-r
  box-sizing: border-box
  .flex-row
    margin-top: -$margin-t-b
    margin-bottom: -$margin-t-b
    margin-left: -$padding-l-r
    width: calc(100% + #{$padding-l-r * 2})

[class*="col"],
.box
  position: relative
[class*='absolute-col']
  position: absolute
  margin-right: 0
  margin-left: 0

@for $i from 1 through $columns
    .col-#{$i}
        +col($i)
    .absolute-col-#{$i}
        +absolute-col($i)
    .offset-left-#{$i}
        margin-left: calc(#{$default-width-col*$i} + #{$margin-l-r})
    .offset-right-#{$i}
        margin-right: calc(#{$default-width-col*$i} + #{$margin-l-r})

@each $name, $size in $media 
    /* #{$name} */
    @media all and (max-width: #{$size}px)
        @for $i from 1 through $columns
            .col-#{$name}-#{$i}
                +col($i)
            .absolute-col-#{$name}-#{$i}
              +absolute-col($i)
